.article__view {
  /* font-family: ; */
  font-size: 14px;
  line-height: 1.6;}
.article__view a {
  color: #4183C4; }
.article__view a.absent {
  color: #cc0000; }
.article__view a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

.article__view h1, .article__view h2, .article__view h3, .article__view h4, .article__view h5, .article__view h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative; }

.article__view h1:hover a.anchor, .article__view h2:hover a.anchor, .article__view h3:hover a.anchor, .article__view h4:hover a.anchor, .article__view h5:hover a.anchor, .article__view h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none; }

.article__view h1 tt, .article__view h1 code {
  font-size: inherit; }

.article__view h2 tt, .article__view h2 code {
  font-size: inherit; }

.article__view h3 tt, .article__view h3 code {
  font-size: inherit; }

.article__view h4 tt, .article__view h4 code {
  font-size: inherit; }

.article__view h5 tt, .article__view h5 code {
  font-size: inherit; }

.article__view h6 tt, .article__view h6 code {
  font-size: inherit; }

.article__view h1 {
  font-size: 28px;
  color: black; }

.article__view h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black; }

.article__view h3 {
  font-size: 18px; }

.article__view h4 {
  font-size: 16px; }

.article__view h5 {
  font-size: 14px; }

.article__view h6 {
  color: #777777;
  font-size: 14px; }

.article__view p, .article__view blockquote, .article__view ul, .article__view ol, .article__view dl, .article__view li, .article__view table, .article__view pre {
  margin: 15px 0; }

.article__view hr {
  background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0; }

.article__view body > h2:first-child {
  margin-top: 0;
  padding-top: 0; }
.article__view body > h1:first-child {
  margin-top: 0;
  padding-top: 0; }
  .article__view body > h1:first-child + h2 {
    margin-top: 0;
    padding-top: 0; }
.article__view body > h3:first-child, .article__view body > h4:first-child, .article__view body > h5:first-child, .article__view body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

.article__view a:first-child h1, .article__view a:first-child h2, .article__view a:first-child h3, .article__view a:first-child h4, .article__view a:first-child h5, .article__view a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

.article__view h1 p, .article__view h2 p, .article__view h3 p, .article__view h4 p, .article__view h5 p, .article__view h6 p {
  margin-top: 0; }

.article__view li p.first {
  display: inline-block; }

.article__view ul, .article__view ol {
  list-style-type: disc;
  padding-left: 30px; }

.article__view ul :first-child, .article__view ol :first-child {
  margin-top: 0; }

.article__view ul :last-child, .article__view ol :last-child {
  margin-bottom: 0; }

.article__view dl {
  padding: 0; }
  .article__view dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px; }
    .article__view dl dt:first-child {
      padding: 0; }
    .article__view dl dt > :first-child {
      margin-top: 0; }
    .article__view dl dt > :last-child {
      margin-bottom: 0; }
  .article__view dl dd {
    margin: 0 0 15px;
    padding: 0 15px; }
    dl dd > :first-child {
      margin-top: 0; }
    dl dd > :last-child {
      margin-bottom: 0; }

.article__view blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777; }
  .article__view blockquote > :first-child {
    margin-top: 0; }
  .article__view blockquote > :last-child {
    margin-bottom: 0; }

.article__view table {
  padding: 0; }
  .article__view table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    .article__view table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    .article__view table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .article__view table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .article__view table tr th :first-child, .article__view table tr td :first-child {
      margin-top: 0; }
    .article__view table tr th :last-child, .article__view table tr td :last-child {
      margin-bottom: 0; }

.article__view img {
  max-width: 100%; }

.article__view span.frame {
  display: block;
  overflow: hidden; }
  .article__view span.frame > span {
    border: 1px solid #dddddd;
    display: block;
    float: left;
    overflow: hidden;
    margin: 13px 0 0;
    padding: 7px;
    width: auto; }
  .article__view span.frame span img {
    display: block;
    float: left; }
  .article__view span.frame span span {
    clear: both;
    color: #333333;
    display: block;
    padding: 5px 0 0; }
.article__view span.align-center {
  display: block;
  overflow: hidden;
  clear: both; }
  .article__view span.align-center > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: center; }
  .article__view span.align-center span img {
    margin: 0 auto;
    text-align: center; }
.article__view span.align-right {
  display: block;
  overflow: hidden;
  clear: both; }
  .article__view span.align-right > span {
    display: block;
    overflow: hidden;
    margin: 13px 0 0;
    text-align: right; }
  .article__view span.align-right span img {
    margin: 0;
    text-align: right; }
.article__view span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left; }
  .article__view span.float-left span {
    margin: 13px 0 0; }
.article__view span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right; }
  .article__view span.float-right > span {
    display: block;
    overflow: hidden;
    margin: 13px auto 0;
    text-align: right; }

.article__view code, .article__view tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px; }

.article__view pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent; }

.article__view .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }

.article__view pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px; }
  .article__view pre code, .article__view pre tt {
    background-color: transparent;
    border: none; }
