{% extends '../base/base.html' %}

{% load static %}

{% block contents %}

<section class="list">

  <div class="list__detail">
    <h2 class="list__detail-title">{{ meta.title }}</h2>
    {% if object_list %}
    <span class="list__detail-count">{{ page_obj.start_index }}{% if page_obj.start_index != page_obj.end_index %} - {{ page_obj.end_index }}{% endif %}件 / {{ page_obj.paginator.count }}件中</span>
    {% else %}
    <span class="list__detail-not-found">ノートが見つかりませんでした。</span>
    {% endif %}
  </div>

  <div class="list__contents-wrap">
    <ul class="list__contents">
      {% for article in object_list %}
      <li class="list__contents-item">
        <h3><a class="list__contents-title" href="{% url 'code_essay:article' article.pk %}">{{ article.title }}</a></h3>
        <span class="list__contents-author">
          <i class="fas fa-user"></i>
          <a class="list__contents-author-name" href="{% url 'code_essay:user' article.author.pk %}">{{ article.author.display_name }}</a>
        </span>
        <span class="list__contents-create">create: {{ article.create_date }}</span>
        <span class="list__contents-update">update: {{ article.update_date }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <ul class="list__page-nav">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">前へ</a>
      {% endif %}
      {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li><span class="list__page-nav-item">{{ num }}</span></li>
      {% else %}
      <li><a class="list__page-nav-item" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">次へ</a>
      {% endif %}
    </ul>
  </div>

</section>

{% endblock %}
