{% extends '../base/base.html' %}

{% load static %}

{% block contents %}

<section class="list">

  <div class="list__detail">
    <h2 class="list__detail-title">Python のノート一覧</h2>
    <span class="list__detail-count">1~10件表示 / 24件中</span>
    <span class="list__detail-not-found">Article Not Found</span>
  </div>

  <div class="list__contents-wrap">
    <ul class="list__contents">
      <li class="list__contents-item">
        <h3><a class="list__contents-title" href="">This is the Article Title !</a></h3>
        <span class="list__contents-author"><i class="fas fa-user"></i> <a class="list__contents-author-name" href="">Author</a></span>
        <span class="list__contents-create">create: 2019-10-23</span>
        <span class="list__contents-update">update: 2019-10-23</span>
      </li>
      <li class="list__contents-item">
        <h3><a class="list__contents-title" href="">This is the Article Title !</a></h3>
        <span class="list__contents-author"><i class="fas fa-user"></i> <a class="list__contents-author-name"
            href="">Author</a></span>
        <span class="list__contents-create">create: 2019-10-23</span>
        <span class="list__contents-update">update: 2019-10-23</span>
      </li>
      <li class="list__contents-item">
        <h3><a class="list__contents-title" href="">This is the Article Title !</a></h3>
        <span class="list__contents-author"><i class="fas fa-user"></i> <a class="list__contents-author-name" href="">Author</a></span>
        <span class="list__contents-create">create: 2019-10-23</span>
        <span class="list__contents-update">update: 2019-10-23</span>
      </li>
    </ul>
  </div>

  <div>
    <ul class="list__page-nav">
      <li><a class="list__page-nav-item" href="">1</a></li>
      <li><a class="list__page-nav-item" href="">2</a></li>
      <li><a class="list__page-nav-item" href="">3</a></li>
      <li><span class="list__page-nav-item">...</span></li>
      <li><a class="list__page-nav-item" href="">4</a></li>
      <li><a class="list__page-nav-item" href="">5</a></li>
      <li><a class="list__page-nav-item" href="">6</a></li>
      <li><span class="list__page-nav-item">...</span></li>
      <li><a class="list__page-nav-item" href="">10</a></li>
      <li><a class="list__page-nav-item" href="">11</a></li>
      <li><a class="list__page-nav-item" href="">12</a></li>
    </ul>
  </div>

</section>

{% endblock %}
