{% load static %}

<nav class="search" id="js-search">

  <form class="search__form" id="" action="" post="get">
    <div>
      <input class="search__keyword-input" id="" name="keywords" type="text" placeholder="Search">
      <div>
        <select class="search__order-box" name="order" id="js-search__order">
          <option class="search__order-item" value="-views">Recommend</option>
          <option class="search__order-item" value="-create_date">Newest</option>
          <option class="search__order-item" value="create_date">Recently</option>
        </select>
        <select class="search__category-box" name="category" id="js-search__category">
          <option class="search__category-item" value="">all</option>
          <option class="search__category-item" value="">your articles</option>
          <optgroup label="Categories">
            <option class="search__category-item" value="">category1</option>
            <option class="search__category-item" value="">category1</option>
          </optgroup>
          <option class="search__category-item" value="">official</option>
        </select>
      </div>
    </div>
    <button class="search__submit" id="" type="submit">
      <i class="fas fa-search"></i>
    </button>
  </form>

  <ul class="search__category-list">
    <li class="search__category-item">
      <a href=""><i class="fab fa-diaspora fa-fw"></i> All Articles</a>
    </li>
    <li class="search__category-item">
      <a href=""><i class="fab fa-diaspora fa-fw"></i> Your Articles</a>
    </li>
    <li>
      <div class="search__category-item"><i class="fas fa-chevron-right fa-fw"></i> Categories</div>
      <ul class="search__category-list">
        <li class="search__category-item">
          <a href=""><i class="fab fa-diaspora fa-fw"></i> Category1</a>
        </li>
        <li class="search__category-item">
          <a href=""><i class="fab fa-diaspora fa-fw"></i> Category2</a>
        </li>
      </ul>
    </li>
    <li class="search__category-item">
      <a href=""><i class="fab fa-diaspora fa-fw"></i> Official</a>
    </li>
  </ul>

</nav>
