
.search {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  left: 0;
  max-height: calc(100vh - 70px);
  overflow: scroll;
  padding: 10px;
  position: fixed;
  top: 40px;
  z-index: 30;
}

.search__form {
  align-items: center;
  display: flex;
  flex-flow: row;
  padding: 20px;
}

.search__keyword-input {
  background: #333;
  border-radius: 8px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  height: 30px;
  line-height: 28px;
  margin: 0 10px 0 0;
  outline: none;
  padding: 0 10px;
  width: 300px;
}

.search__order-box,
.search__category-box {
  background: transparent;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  height: 26px;
  line-height: 24px;
  margin: 15px 0 0;
  outline: none;
}

.search__submit {
  background: #333;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  height: 30px;
  line-height: 28px;
  margin: 0 10px 0 20px;
  outline: none;
  padding: 0 20px;
}

.search__category-list {
  font-size: 16px;
  line-height: 40px;
  padding: 10px 10px 16px 24px;
}

.search__category-item {
  border-bottom: 1px dotted #fff;
  padding: 0 0 0 10px;
}

@media (max-width:767px) {

  .search {
    max-height: calc(100vh - 64px);
    width: 100%;
  }

  .search__form {
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

  .search__keyword-input {
    font-size: 15px;
    padding: 0 5px;
    width: 220px;
  }

  .search__order-box,
  .search__category-box {
    margin: 5px;
  }

  .search__submit {
    font-size: 14px;
    margin: 0;
  }

  .search__category-list {
    font-size: 14px;
    line-height: 30px;
    padding: 5px 5px 8px 10px;
  }

  .search__category-item {
    padding: 0 0 0 8px;
  }

}
